[Oo]bj/
[Bb]in/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
target/*
msbuild.log
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution